.bodyContainer {
  font-family: 'Roboto', sans-serif;
  padding: 1rem 1.7rem;

  .bodyContent {
    .title {
      font-family: 'Roboto';
      font-size: 1.6rem;
      margin-bottom: 1.4rem;
      h1 {
        span {
          color: var(--main-green);
          font-family: 'Lawyer Gothic';
        }
      }
    }

    .formContainer {
      width: 100%;

      form {
        justify-content: center;
        display: grid;

        input {
          border: 0;
          border-radius: 8px;
          margin: 1rem 0;
          padding: 0.8rem;
        }
      }
    }
  }
  textarea {
    height: 100px;
    padding: 1rem;
    resize: none;
    width: 100%;
  }
}
