.footerContainer {
  border-top: 1px solid var(--gray-300);
  font-family: 'Roboto', sans-serif;

  .footerContent {
    align-items: center;
    display: block;
    flex-wrap: wrap;

    height: 100%;
    margin: 1rem auto;
    max-width: 1120px;
    padding: 0 2rem;

    .networkList {
      display: block;
      margin-top: 2rem;
      width: 50vw;
    }

    a {
      color: var(--gray-100);
      transition: ease-in-out 0.4s;
      width: 1rem;
      &:hover {
        color: var(--main-pink);
      }
    }

    .networkitem {
      margin: 1rem 0rem;
    }
  }
}
